# Python Environment
venv/
env/
ENV/
bin/
lib/
share/
include/
__pycache__/
*.py[cod]
*$py.class
.env

# MediaPipe / AI models
*.task

# Shared Libraries & System files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Project Specific
uploads/*
!uploads/.gitkeep
temp/
*.log
*.webm
*.wav
*.mp4

# Distribution / Build
dist/
build/
*.spec
